* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:after, :before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  color: #2E2F22;
  height: auto;
  background-color: #fff;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.title {
  font-family: "Spectral SC", "Times New Roman", serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}
.title--center {
  text-align: center;
}

.tegs {
  color: rgba(46, 47, 34, 0.7);
}
.tegs--light {
  color: rgba(255, 255, 255, 0.7);
}

.date {
  color: rgba(46, 47, 34, 0.7);
}
.date--light {
  color: rgba(255, 255, 255, 0.7);
}

.figcaption {
  font-size: 14px;
}

a,
button, input[type=button], input[type=submit] {
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out,-webkit-box-shadow .15s ease-in-out, visibility .15s ease-in-out;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 224px;
  padding: 1em 1.25em;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  border: 1px solid #202117;
  border-radius: 10px;
  color: #2E2F22;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn--primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn:hover {
  background-color: #cacbb8;
  border-color: #cacbb8;
  color: #fff;
}
.btn:focus {
  color: #fff;
  background-color: #cacbb8;
}
.btn:active {
  background-color: #9ea17c;
  border-color: #9ea17c;
  color: #fff;
}

.container {
  width: 1220px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: -10px;
  margin-right: -10px;
}

/*.row + .row {
  margin-top: 30px;
}*/
[class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
}

.col-1 {
  width: 8.3333333%;
}

.col-2 {
  width: 16.6666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333%;
}

.col-5 {
  width: 41.6666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333%;
}

.col-8 {
  width: 66.6666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333%;
}

.col-11 {
  width: 91.6666666%;
}

.col-offset-1 {
  margin-left: 8.3333333%;
}

.col-offset-2 {
  margin-left: 16.6666666%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.3333333%;
}

.col-offset-5 {
  margin-left: 41.6666666%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  height: 100vh;
  padding-top: 4px;
  margin-bottom: 85px;
}
.header--bg-home {
  background-image: url("../img/fon-header_1.jpg");
  background-size: cover;
}
.header--bg-article {
  background-image: url("../img/page-article/fon-header_2.jpg");
  background-size: cover;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: block;
  padding: 3px 6px;
  outline: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
.menu__item {
  margin-right: 73px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  display: block;
  padding: 6px 10px;
  color: #2E2F22;
  font-size: 18px;
  outline: none;
}
.menu__link:hover {
  font-weight: 700;
}

.section-articles {
  margin-bottom: 85px;
}

.articles__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom-select {
  display: block;
  width: 203px;
  border-radius: 10px;
}
.custom-select__list {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background: #D7D1C9;
  border-radius: 10px;
  padding: 0.75em 1.25em;
  outline: none;
}

.list-article {
  margin-bottom: 62px;
}
.list-article:last-child {
  margin-bottom: 104px;
}

.article-preview {
  display: block;
  position: relative;
}
.article-preview__img {
  border-radius: 10px;
  margin-bottom: 27px;
}
.article-preview__info {
  text-align: left;
}
.article-preview__info--imposition {
  position: absolute;
  bottom: 60px;
  left: 82px;
  margin-right: 80px;
  color: #fff;
}
.article-preview__info--imposition .article-preview__description {
  font-size: 18px;
  line-height: 1.555555;
}
.article-preview__title {
  font-size: 18px;
  margin-bottom: 8px;
}
.article-preview__description {
  margin-bottom: 12px;
}
.article-preview span {
  display: block;
}

.section-about {
  margin-bottom: 85px;
}

.photo__img {
  border-radius: 10px;
}

.info {
  /*  display: flex;
    flex-direction: column;
    justify-content: space-between;*/
  padding-top: 42px;
}
.info__text {
  padding-left: 20px;
  padding-right: 73px;
  margin-bottom: 71px;
}
.info__text p:not(:last-child) {
  margin-bottom: 25px;
}

.slogan {
  padding: 27px 20px;
  border-left: 3px solid #D7D1C9;
}
.slogan__text {
  font-style: italic;
  font-size: 36px;
  line-height: 1.333333;
}

.section-portfolio {
  margin-bottom: 85px;
}

.list-portfolio {
  margin-bottom: 104px;
}

.portfolio-preview {
  display: block;
  position: relative;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.portfolio-preview__img {
  border-radius: 10px;
}
.portfolio-preview__info {
  text-align: center;
  position: absolute;
  top: 140px;
  padding-right: 18px;
  padding-left: 18px;
}
.portfolio-preview__info--color-white {
  color: #fff;
}
.portfolio-preview__heading {
  font-family: "Spectral SC", "Times New Roman", serif;
  font-size: 20px;
  margin-bottom: 44px;
}
.portfolio-preview__title {
  font-family: "Spectral SC", "Times New Roman", serif;
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 1.555555;
}

.section-feedback {
  margin-bottom: 81px;
}

.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/fon_form.jpg") no-repeat;
  min-height: 637px;
  padding-top: 53px;
  padding-left: 71px;
  padding-right: 71px;
  padding-bottom: 62px;
}
.form-contact__group {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.form-contact__group--big {
  width: 100%;
}
.form-contact__group:hover .form-contact__field {
  -webkit-box-shadow: 0 0 10px 2px #000;
          box-shadow: 0 0 10px 2px #000;
}
.form-contact__caption {
  display: block;
  font-family: "Spectral SC", "Times New Roman", serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}
.form-contact__field {
  width: 100%;
  padding: 20px;
  opacity: 0.4;
  border: 1px solid #000;
  outline: none;
}
.form-contact__field:focus {
  outline: 1px solid #000;
}
.form-contact__field:active {
  outline: 4px solid #000;
}
.form-contact__field--message {
  height: 293px;
  resize: none;
}

.footer {
  padding-top: 65px;
  padding-bottom: 90px;
  background-color: #D7D1C9;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 630px;
  margin-right: auto;
  margin-left: auto;
}
.social-list__item {
  outline: none;
}
.social-list__link {
  display: block;
  padding: 8px 12px;
  color: #2E2F22;
  font-size: 18px;
  outline: none;
}
.social-list__link:hover {
  color: #fff;
  text-shadow: 0 0 3px #2E2F22;
}
.social-list__link:focus {
  color: #fff;
}
.social-list__link:active {
  color: #2E2F22;
  text-shadow: 0 0 2px #2E2F22;
}

.block-like__like:hover, .share-list__link:hover, .block-advice__link:hover {
  outline: 1px dotted #2E2F22;
}
.block-like__like:focus, .share-list__link:focus, .block-advice__link:focus {
  background-color: #ebebe4;
  outline: 1px dotted #2E2F22;
}
.block-like__like:active, .share-list__link:active, .block-advice__link:active {
  background-color: #cacbb8;
  outline: 1px dotted #2E2F22;
}

.article {
  margin-bottom: 65px;
}
.article__title {
  margin-bottom: 6px;
}
.article__content {
  margin-bottom: 40px;
}
.article__content p:not(:last-child) {
  margin-bottom: 25px;
}

.tegs-date {
  margin-bottom: 50px;
}
.tegs-date span {
  display: inline-block;
  margin-right: 18px;
}

.figure {
  margin: 15px 0 40px 0;
}

.block-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 37px;
}

.block-like {
  font-size: 0;
}
.block-like__like {
  display: inline-block;
  margin-right: 4px;
  padding: 10px;
}
.block-like__amount {
  font-size: 16px;
  display: inline-block;
}

.share-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.share-list__item {
  outline: none;
}
.share-list__link {
  display: block;
  margin-left: 12px;
  padding: 10px;
}

.block-advice__link {
  display: inline-block;
  vertical-align: middle;
  font-size: 36px;
  color: #2E2F22;
  font-weight: 700;
  border: 1px solid transparent;
}
.block-advice__arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.arrow {
  cursor: pointer;
  position: relative;
  width: 62px;
  height: 2px;
  background-color: #2E2F22;
}
.arrow::after {
  content: "";
  position: absolute;
  right: 0;
  top: -4px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #2E2F22;
  border-right: 2px solid #2E2F22;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section-comment {
  margin-bottom: 81px;
}

.comments-list {
  margin-bottom: 77px;
  padding: 45px 80px 50px 100px;
  background-color: #ECE1E1;
  font-size: 0;
}
.comments-list__item {
  list-style: none;
}
.comments-list__item:not(:last-child) {
  margin-bottom: 55px;
}
.comments-list__user {
  margin-bottom: 14px;
}
.comments-list__foto {
  display: inline-block;
  border-radius: 10px;
  margin-right: 14px;
}
.comments-list__name {
  font-size: 16px;
  font-weight: 700;
  vertical-align: middle;
}
.comments-list__content {
  font-size: 16px;
}

.feedback {
  padding-left: 80px;
}
.feedback__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 70px;
}
.feedback__form {
  max-height: 210px;
}

.form-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.form-comment__field {
  width: 30.769231%;
  outline: none;
  border: none;
  border-bottom: 1px solid #2E2F22;
  padding-bottom: 15px;
  margin-bottom: 35px;
}
.form-comment__field--message {
  margin-bottom: 0;
  width: 56.783216%;
  height: 210px;
  border: 1px solid #2E2F22;
  border-radius: 10px;
  padding: 18px 20px;
  resize: none;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}
.form-comment__btn {
  margin-top: 14px;
}

/*# sourceMappingURL=main.css.map */