@mixin hover-focus-active ($color-text, $color-fon) {
  &:hover {
    color: $color-fon;
    background-color: $color-text;
    border-color: $color-fon;
    box-shadow: 0 0 15px $color-fon;
  }
  
  &:focus {
    background-color: lighten($color-fon, 25);
    box-shadow: 0 0 15px darken($color-fon, 25);
  }

  &:active {
    background-color: darken($color-fon, 15);
  }
}

%controls-transition {
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out,-webkit-box-shadow .15s ease-in-out, visibility .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out;
    cursor: pointer;
}

a,
button,
 {
  @extend %controls-transition;
}

input {
  &[type=button],
  &[type=submit] {
     @extend %controls-transition;
  }
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 224px;
  padding: 1em 1.25em;
  font-size: $base-font-size;
  font-weight: 400; 
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  border: 1px solid $color-btn;
  border-radius: 10px;
  color: $font-color-primary;
  outline: none;
  box-shadow: none;

  &--primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &--secondary {
    border-radius: 0;
  }
}