.header { 
  height: 100vh;
  margin-bottom: 85px;

  &--bg-home {
    background-color: $bg-color-header;
    background-image: url('../img/fon-header_1.jpg');
    background-size: cover;
  }

  &--bg-article {
    background-image: url('../img/page-article/fon-header_2.jpg');
    background-size: cover;
  }
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}

.link-logo {
  outline: none;
  display: block;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;

  &__item {
    margin-right: 73px;

    &:last-child {
      margin-right: 0;

      & .menu__link {
        padding-right: 0;
      }
    }

    &:hover {
      font-weight: 700;
    }
  }

  &__link {
    display: block;
    padding: 6px 10px;
    color: $font-color-primary;
    font-size: $secondary-font-size;
    outline: none;

    &:focus {
      outline: 1px solid #cb8742;
    }
  }
}