.section-articles {
  padding-bottom: 85px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.custom-select {
  display: block;
  position: relative; 
  width: 203px;
  border-radius: 10px;
  margin-bottom: 50px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;    
    width: 0px;
    height: 0px;
    border: 15px solid;
    border-bottom-width: 0;
    border-top-color: $bg-color-primary;
    border-top-width: 15px;
    border-left-color: transparent;
    border-left-width: 9px;
    border-right-color: transparent;
    border-right-width: 9px;
    cursor: pointer;
    pointer-events: none;
  }

  &__list {
    display: block;
    position: relative; 
    width: 100%;   
    appearance: none;
    border-radius: 10px;
    padding: 0.75em 1.25em;
    background: $bg-color-secondary;
    cursor: pointer;
    outline: none;

    &:hover {
      box-shadow: 0 0 5px black;
    }

    &:focus {
      box-shadow: 0 0 5px black;
    }

/*    &:after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;    
    width: 40px;
    height: 40px;
     background-color: red;
    border: 15px solid;
    border-bottom-width: 0;
    border-top-color: $bg-color-primary;
    border-top-width: 15px;
    border-left-color: transparent;
    border-left-width: 9px;
    border-right-color: transparent;
    border-right-width: 9px;
    cursor: pointer;
    }*/
  }
}

.articles-list {
  margin-bottom: 62px;

  &:last-child {
    margin-bottom: 104px;
  }
}

.article-preview {
  display: block;
  position: relative;
  color: $font-color-primary;
  border-radius: 10px;
  outline: none;

  &:hover {
    box-shadow: 0 0 5px black;
  }

  &:focus {
    box-shadow: 0 0 5px black;
  }

  &__img {
    border-radius: 10px;
    margin-bottom: 27px;
  }

  &__info {
   
    &--imposition {
      position: absolute;
      bottom: 60px;
      left: 0;
      padding-right: 80px;
      padding-left: 80px;
      margin-right: 80px;
      color: $font-color-secondary;    

      & .article-preview__description {
        font-size: $secondary-font-size;
        line-height: 1.555555;
      }
    }
  }

  &__title {
    font-size: $h4-font-size;
    margin-bottom: 8px;
  }

  &__description {
    margin-bottom: 12px;
  }

  &__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba($font-color-primary, 0.7);

    &--light {
      color: rgba(#fff, 0.7);
    }
  }
}