$COLOR_WHITE: #fff;
$COLOR_BLACK: #000;

$dark-grey: #2E2F22;
$grey: #D7D1C9;
$milky: #E5E5E5;


$font-family-base: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$font-family-secondary: 'Spectral SC', 'Times New Roman', serif;
$line-height: 1.625;

$base-font-size: 16px;
$secondary-font-size: 18px;
$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$big-font-size: 30px;

$bg-color-primary: $COLOR_WHITE;
$bg-color-secondary: $grey;
$color-btn: #202117;
$input-color: $COLOR_BLACK;

$font-color-primary: $dark-grey;
$font-color-secondary: $COLOR_WHITE;

$width-container: 1220px;
